body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    overflow-x: hidden;
    background:white;
    background-image: url('../img/cascade-boat-clean-china-natural-rural.jpg');
    background-size: cover;
}
/*HEADER*/
header{
    width: 100%;
    height: 85px;
    position: fixed;
    z-index: 9999;
}
/* menu hamburguesa*/
.nav-links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20%;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 0px;
}
@media (max-width: 1500px){
    .nav-links{
        gap: 15%;
        position: relative;
        right: 0px;
    }
}
.nav-links input{
    height: 20px;/*Tamaño de el input tipo texto*/

}
.burger{
    display: none;/*Para que no se muestre en pantalla normal*/
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 4px 0;
    border-radius: 1px;
}
.avatarResponsive{
    display: none;
}
/*Responsive del menu hamburguesa*/
@media (max-width: 1280px){
    .avatarResponsive{
        display: block;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
    .avatar{
        display: none;
    }
    header{
        height: 65px;
    }
    .navbar{
        position: relative;
        background-color: rgba(0, 0 , 0 , 0.6);
        height: 65px;
    
    }
    .burger{
        display: flex;
        position: absolute;
        right: 20px;

    }
    .nav-links{
        background-color: rgba(0, 0 , 0 , 0.6);
        display: none;
        flex-direction: column;
        position: absolute;
        width: 30%;
        height: 1250px;
        top: 64px;
        right: 0;
        margin: 0;
        gap: 50px;
        align-items: center;
    }
    .nav-links.active{
        padding-left: 0;
        display: flex;
    }
    .logo{
        width: 45px;
        height: 45px;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .nav-links input{
        position: relative;
        top: 100px;
    }
    .avatar{
        position: absolute;
        right: 60px;
        top: 28px;
        }
    .nav-links li{
        width: 100%;
        height: 50px;
        position: relative;
        bottom: 440px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }
    .nav-links li:hover{
        background-color: rgba(0, 0 , 0 , 0.4);
        color: #9daf6d;
    } 
    .baja{
        height: 65px;
    }
    .li-avatar{
        display: block;
    }
    .redireccionPerfil{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .ubiAvatar{
        margin-right: 10px;
    }
    .datosUsuario h3{
        position: relative;
        top: 5px;
        color: white;
        font-size: 20px;
    }
    .datosUsuario p{
        position: relative;
        bottom: 15px;
        font-size: 12px;
        color: #d6d6d6;
    }
    .search{
        position: absolute;
        right: 80px;
    }
}
@media (max-width:985px){
    .ubiAvatar{
        margin-right: 5px;
    }
    .datosUsuario h3{
        font-size: 12px;
    }
    .datosUsuario p{
        font-size: 10px;
        position: relative;
        bottom: 10px;
    }
}
@media (max-width:630px){
    .ubiAvatar img{
        width: 30px;
        height: 30px;
    }
    .datosUsuario h3{
        font-size: 10px;
    }
    .datosUsuario p{
        position: relative;
        bottom: 5px;
        font-size: 8px;
    }
    .nav-links{
        font-size: 15px;
    }
    
}
@media (max-width:600px){
    .nav-links{
        width: 45%;
    }
}
.li-avatar{
    display: none;
}
/*Estilos navbar*/
nav{
    width: 100%;
    height: 85px;
    background: linear-gradient(to bottom, rgba(0, 0 , 0 , 0.9), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
nav img{
    border-radius: 50%;
}
nav .img{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px black;
    margin-left: 100px;
}
nav img{
    width: 60px;
    height: 60px;
    box-shadow: 0 0 15px black;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    color: #ADC178;
}
nav input{
    width: 150px;
    padding: 6px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
}
/*Estilos para cuando se haga scroll, el header deja de ser transparente y se pone gris*/
.baja{
    background-color: rgba(0, 0 , 0 , 0.5);
    height: auto;
}
/*termina el header y empieza el contenido principal*/
/*estilos para las etiquetas*/
img{
    width: 80%;
    height: 90%;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-family: 'Rowdies';
    color: #adc178;
    text-align: center;
}

button{
    height: 45px;
    padding: 20px 40px;
    background-color: #adc178;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button:hover{
    box-shadow: 0 0 5px #adc178;
    transition: all 0.5s ease-in-out;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 920px;
}

select{
    width: 45%;
    border-radius: 10px;
    background-color: #D9D9D9;
}

svg{
    position: absolute;
    width: 50px;
    height: 50px;
}

/*estilos para las ids*/
#slider-container{
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 12rem;
}

#flecha{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
    right: 2px;
    width: 10%;
    height: 70%;
    border-radius: 10px;
    background-color: #D9D9D9;
}

#flecha2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
    left: 36%;
    width: 8%;
    height: 70%;
    border-radius: 10px;
    background-color: #D9D9D9;
}
/*estilos para las clases*/
.titulo{
    font-size: 40px;
    margin-top: 120px;
}

.slider{
    display: flex;
    transition: transform .5s ease;
}

.slide{
    min-width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}

.card{/*estilos para las tarjetas que va a tener el slider y que van a contener la información de los destinos*/
    width: 25rem;
    height: 90%;
    padding: 10px;
    border-radius: 20px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.filtros{
    position: absolute;
    width: 30rem;
    height: 2.5rem;
    right: 4.5%;
    top: 7rem;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    border-radius: 10px;
}



.texto{
    width: 90%;
    height: 100%;
}
.card h1{
    font-size: 26px;
  
}

.btn{
    position: relative;
    bottom: 20px;
    width: 28em;
    height: 3.2rem;
    margin-top: 0;
}

.text{
    font-size: 1.2rem;
}

.t-btn{
    color: white;
    margin: 0;
}

.titulo{
    position: absolute;
    left: 4.5%;
    margin: 0;
    top: 7rem;
}
.imgs{
    margin-top: 10px;
    width: 90%;
    height: 40%;
    border-radius: 10px;
}

.opciones{
    color: black;
}
/*estilos para las flechas*/
.arrow{
    position: absolute;
    top:40%;
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}

.left{
    left: 5px;
}

.right{
    right: 5px;
}


/*comienza el responsive*/
@media (max-width:500px){
    body{
        height: 100vh;
        width: 100%;
    }

    h1{
        font-size: 12px;
    }
    
    p{
        font-size: 10px;
    }

    a{
        font-size: 8px;
    }

    .slide{
        height: 400px;
    }
    .imgs{
        height: 20%;
    }

    .arrow{
        width: 30px;
        height: 30px;
    }

    .left{
        left:-5px
    }

    .right{
        right: -5px;
    }
}

@media (min-width:501px) and (max-width:819px){
    body{
        height: 100vh;
        width: 100%;
    }

    h1{
        font-size: 16px;
    }
    
    p{
        font-size: 14px;
    }

    a{
        font-size: 10px;
    }

    .slide{
        height: 450px;
    }
    .imgs{
        height: 25%;
    }

    .arrow{
        width: 30px;
        height: 30px;
    }

    .left{
        left:-5px
    }

    .right{
        right: -5px;
    }
}

@media (min-width:820px) and (max-width:1023px){
    body{
        height: 100vh;
        width: 100%;
    }

    h1{
        font-size: 16px;
    }
    
    p{
        font-size: 14px;
    }

    a{
        font-size: 10px;
    }

    .slide{
        height: 450px;
    }
    .imgs{
        height: 25%;
    }

    .arrow{
        width: 35px;
        height: 35px;
    }
}


@media (min-width:1024px) and (max-width:1250px){
    body{
        height: 185vh;
        width: 100%;
    }

    .titulo{
        margin-left: 80px;
    }
    .content{
        width:80%;
        height: 50%;
        align-items: center;
        padding: 10px;
    }

    .imgs{
        margin: 0;
        padding: 0;
    }
    .content img{
        height: 100%;
    }
}
/*FOOTER*/
.pie-pagina{
    width: 100%;
    background-color: #403f3f;
}
.pie-pagina .parte-1{
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 45px 0px;
}
.pie-pagina .parte-1 .caja figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 3px black;
    position: relative;
    bottom: 18px;
}
.pie-pagina .parte-1 .caja h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    color: #ADC178;
    position: relative;
    bottom: 20px;
}
.pie-pagina .parte-1 .caja p{
    color: white;
    margin-bottom: 10px;
    position: relative;
    bottom: 40px;
    width: 90%;
}
.pie-pagina .parte-1 .imagenes-footer a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #383838;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
    
    
}
.pie-pagina .parte-1 .imagenes-footer {
    border-radius: 10px;
}
.pie-pagina .parte-1 .imagenes-footer a:hover{
    color: rgb(204, 201, 201);
}
.logos{
    width: 30px;
    height: 30px;
    margin-top: 7px;
}
.pie-pagina .parte-2{
    background-color: #383838;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999;
}

@media screen and (max-width: 800px) {
    .pie-pagina .parte-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .parte-1 .imagenes-footer a{
        margin-bottom: 50px;
    }
    
}
