html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: arial;
    height: auto;
}
/*HEADER*/
header{
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    z-index: 9999;
}
/* menu hamburguesa*/
.nav-links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20%;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 0px;
}
@media (max-width: 1500px){
    .nav-links{
        gap: 15%;
        position: relative;
        right: 0px;
    }
}
.nav-links input{
    height: 20px;/*Tamaño de el input tipo texto*/

}
.burger{
    display: none;/*Para que no se muestre en pantalla normal*/
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 4px 0;
    border-radius: 1px;
}
.avatarResponsive{
    display: none;
}
/*Responsive del menu hamburguesa*/
@media (max-width: 1280px){
    .avatarResponsive{
        display: block;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
    .avatar{
        display: none;
    }
    header{
        height: 65px;
    }
    .navbar{
        position: relative;
        background-color: rgba(0, 0 , 0 , 0.6);
        height: 65px;
    
    }
    .burger{
        display: flex;
        position: absolute;
        right: 20px;

    }
    .nav-links{
        background-color: rgba(0, 0 , 0 , 0.6);
        display: none;
        flex-direction: column;
        position: absolute;
        width: 30%;
        height: 1250px;
        top: 64px;
        right: 0;
        margin: 0;
        gap: 50px;
        align-items: center;
    }
    .nav-links.active{
        padding-left: 0;
        display: flex;
    }
    .logo{
        width: 45px;
        height: 45px;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .nav-links input{
        position: relative;
        top: 100px;
    }
    .avatar{
        position: absolute;
        right: 60px;
        top: 28px;
        }
    .nav-links li{
        width: 100%;
        height: 50px;
        position: relative;
        bottom: 440px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }
    .nav-links li:hover{
        background-color: rgba(0, 0 , 0 , 0.4);
        color: #9daf6d;
    } 
    .baja{
        height: 65px;
    }
    .li-avatar{
        display: block;
    }
    .redireccionPerfil{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .ubiAvatar{
        margin-right: 10px;
    }
    .datosUsuario h3{
        position: relative;
        top: 5px;
        color: white;
        font-size: 20px;
    }
    .datosUsuario p{
        position: relative;
        bottom: 15px;
        font-size: 12px;
        color: #d6d6d6;
    }
    .buscador{
        width: 170px;
        position: absolute;
        right: 100px;
    }
}
@media (max-width:985px){
    .ubiAvatar{
        margin-right: 5px;
    }
    .datosUsuario h3{
        font-size: 12px;
    }
    .datosUsuario p{
        font-size: 10px;
        position: relative;
        bottom: 10px;
    }
}
@media (max-width:630px){
    .ubiAvatar img{
        width: 30px;
        height: 30px;
    }
    .datosUsuario h3{
        font-size: 10px;
    }
    .datosUsuario p{
        position: relative;
        bottom: 5px;
        font-size: 8px;
    }
    .nav-links{
        font-size: 15px;
    }
    
}
@media (max-width:600px){
    .nav-links{
        width: 45%;
    }
}
.li-avatar{
    display: none;
}
/*Estilos navbar*/
nav{
    width: 100%;
    height: 85px;
    background-color: rgba(0, 0 , 0 , 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
nav img{
    border-radius: 50%;
}
nav .img{
    width: 40px;
    height: 40px;
    margin-left: 140px;
}
nav img{
    width: 60px;
    height: 60px;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    color: #ADC178;
}
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
}
.buscador img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 170px;    
    cursor: pointer;
}

nav input{
    width: 170px;
    padding: 9px;
    border: none;
    border-radius: 10px;
}
/*INICIA EL MAIN*/
/*ESTILOS A LOS DETALLES DE EL HOSPEDAJE*/
.container{
    width: 100%;
    height: 860px;
    display: flex;
    flex-wrap: wrap;
}
.detallesHotel{
    display: flex;
    flex-direction: column;
    width: 60%;
    position: absolute;
    top: 60px;
    left: 30px;
}
.detallesHotel h1{
    color: #ADC178;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
}
.detallesHotel span{
    position: relative;
    bottom: 40px;
    font-weight: 700;
}
.detallesHotel b{
    font-size: 20px;
    color: rgb(255, 218, 5);
}
.detallesHotel img{
    width: 80%;
    height: auto;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
}
.detallesHotel .informacionHotel{
    width: 78%;
    position: relative;
    bottom: 30px;
    font-weight: 700;
}
/*ESTILOS AL MAPA INTERACTIVO*/
.mapa p{
    position: absolute;
    right: 400px;
    top: 400px;
}
.mapa h2{
    font-size: 2rem;
    font-weight: 700;
    background-color: #ADC178;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    right: 240px;
    top: 700px;
}

/*SEGUNDA SECCION*/
/*COMENTARIOS*/
/*segunda section*/
.comentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.comentarios-parte1{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comentarios-parte1 h1{
    font-size: 2rem;
    font-weight: 500;
    background-color: #ADC178;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}
.comentarios-parte1 span{
    font-size: 1.8rem;
    color: #ADC178;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.comentarios-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.comentarios-container1{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0 , 0 , 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.img-cliente{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.img-cliente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.perfil-persona{
    display: flex;
    align-items: center;
}
.username{
    display: flex;
    flex-direction: column;
}
.username strong{
    color: black;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.username span{
    color: #979797;
    font-size: 0.8rem;
}
.calificacion{
    color:#f9d71c ;
}
.container-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.parrafo p{
    font-size: 0.9rem;
    color: #4b4b4b;

}
.comentarios-container1:hover{
    transform: translateY(-5px);
    transition: all ease 0.3s;
}
.comentarios-parte2{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comentarios-parte2 H2{
    font-size: 2rem;
    font-weight: 500;
    background-color: #ADC178;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}
.comentarios-parte2 input{
    width: 200px;
    padding: 10px;
}
.comentar{
    margin-top: 20px;
}
.comentar button{
    font-weight: 500;
    background-color: #ADC178;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border: 1px solid #979797;
    cursor: pointer;
    
}
.comentar a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
.comentar button:hover{
    background-color: #9daf6d;
}
.comentar a:hover{
    background-color: #9daf6d;
}
@media(max-width:1141px){
    .comentarios-container1{
        width: 45%;
        padding: 10px;
    }

}
@media(max-width:999px){
    .comentarios-container1{
        width: 100%;
    }
    .comentarios-container h1{
        font-size: 1.4rem;

    }
}
@media (max-width:370px){
    .comentarios-parte2 input{
        width: 150px;
    }
}
@media (max-width:320px){
    .container-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .calificacion{
        margin-top: 10px;
    }
}
/*FOOTER*/
.pie-pagina{/*Contenedor del footer*/
    width: 100%;
    background-color: #403f3f;
}
.pie-pagina .parte-1{/*Primera parte de el footer*/
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 45px 0px;
}
.pie-pagina .parte-1 .caja figure{/*Estilos a las cajas de el footer*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{/*Estilos al logo de la pagina en el footer*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 3px black;
    position: relative;
    bottom: 18px;
}
.pie-pagina .parte-1 .caja h2{/*Estilos a los h2 de las cajas*/
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    color: #ADC178;
    position: relative;
    bottom: 20px;
}
.pie-pagina .parte-1 .caja p{/*Estilos a los parrafos del footer*/
    color: white;
    margin-bottom: 10px;
    position: relative;
    bottom: 40px;
    width: 90%;
}
.pie-pagina .parte-1 .imagenes-footer a{/*Estilos a los iconos de las redes sociales*/
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #383838;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 30px; 
}
.pie-pagina .parte-1 .imagenes-footer {/*Border-radius al contenedor de los iconos*/
    border-radius: 10px;
}
.pie-pagina .parte-1 .imagenes-footer a:hover{
    color: rgb(204, 201, 201);
}
.logos{/*Tamaño de cada icono*/
    width: 30px;
    height: 30px;
    margin-top: 7px;
}
.pie-pagina .parte-2{/*Estilos a la segunda parte de el footer*/
    background-color: #383838;
    text-align: center;
    color: white;
    font-size: 15px;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    z-index: 99999;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*RESPONSIVE DEL FOOTER*/
@media screen and (max-width: 800px) {
    .pie-pagina .parte-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .parte-1 .imagenes-footer a{
        margin-bottom: 50px;
    }
}
