body{
    margin: 0;
    font-family: arial;
}
/*HEADER*/
header{
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    z-index: 9999;
}
/* menu hamburguesa*/
.nav-links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20%;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 0px;
}
@media (max-width: 1500px){
    .nav-links{
        gap: 15%;
        position: relative;
        right: 0px;
    }
}
.nav-links input{
    height: 20px;/*Tamaño de el input tipo texto*/

}
.burger{
    display: none;/*Para que no se muestre en pantalla normal*/
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 4px 0;
    border-radius: 1px;
}
.avatarResponsive{
    display: none;
}
/*Responsive del menu hamburguesa*/
@media (max-width: 1280px){
    .avatarResponsive{
        display: block;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
    .avatar{
        display: none;
    }
    header{
        height: 65px;
    }
    .navbar{
        position: relative;
        background-color: rgba(0, 0 , 0 , 0.6);
        height: 65px;
    
    }
    .burger{
        display: flex;
        position: absolute;
        right: 20px;

    }
    .nav-links{
        background-color: rgba(0, 0 , 0 , 0.6);
        display: none;
        flex-direction: column;
        position: absolute;
        width: 30%;
        height: 1250px;
        top: 64px;
        right: 0;
        margin: 0;
        gap: 50px;
        align-items: center;
    }
    .nav-links.active{
        padding-left: 0;
        display: flex;
    }
    nav .logo{
        width: 45px;
        height: 45px;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .nav-links input{
        position: relative;
        top: 100px;
    }
    .avatar{
        position: absolute;
        right: 60px;
        top: 28px;
        }
    .nav-links li{
        width: 100%;
        height: 50px;
        position: relative;
        bottom: 440px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }
    .nav-links li:hover{
        background-color: rgba(0, 0 , 0 , 0.4);
        color: #9daf6d;
    } 
    .baja{
        height: 65px;
    }
    .li-avatar{
        display: block;
    }
    .redireccionPerfil{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .ubiAvatar{
        margin-right: 10px;
    }
    .datosUsuario h3{
        position: relative;
        top: 5px;
        color: white;
        font-size: 20px;
    }
    .datosUsuario p{
        position: relative;
        bottom: 15px;
        font-size: 12px;
        color: #d6d6d6;
    }
    .buscador{
        width: 170px;
        position: absolute;
        right: 100px;
    }
}
@media (max-width:985px){
    .ubiAvatar{
        margin-right: 5px;
    }
    .datosUsuario h3{
        font-size: 12px;
    }
    .datosUsuario p{
        font-size: 10px;
        position: relative;
        bottom: 10px;
    }
}
@media (max-width:630px){
    .ubiAvatar img{
        width: 30px;
        height: 30px;
    }
    .datosUsuario h3{
        font-size: 10px;
    }
    .datosUsuario p{
        position: relative;
        bottom: 5px;
        font-size: 8px;
    }
    .nav-links{
        font-size: 15px;
    }
    
}
@media (max-width:600px){
    .nav-links{
        width: 45%;
    }
}
.li-avatar{
    display: none;
}
/*Estilos navbar*/
nav{
    width: 100%;
    height: 85px;
    background: linear-gradient(to bottom, rgba(0, 0 , 0 , 0.9), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
nav img{
    border-radius: 50%;
}
nav .img{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px black;
    margin-left: 140px;
}
.logo{
    width: 60px;
    height: 60px;
    box-shadow: 0 0 15px black;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    color: #ADC178;
}
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
}
.buscador img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 180px;    
    cursor: pointer;
}

nav input{
    width: 170px;
    padding: 9px;
    border: none;
    border-radius: 10px;
}
/*Estilos para cuando se haga scroll, el header deja de ser transparente y se pone gris*/
.baja{
    background-color: rgba(0, 0 , 0 , 0.5);
    height: auto;
}
/*terminan los estilos del header*/
/*empiezan los estilos de las secciones y toda la vuelta*/
/*estilos para las etiquetas*/
section{
    width: 100vw;
    height: auto;
}

h1{
    font-weight: 800;
    color:#ADC178;
    margin: 0;
}

p{
    display: flex;
    align-items: center;
}

iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

button{
    height: 45px;
    padding: 20px 40px;
    background-color: #adc178;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

video{
    width: 100%;
    height: 100%;
}
/*Estilos para las ids*/
#section1{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*estilos para las clases*/
/*estilos para el div de el titulo*/
.title{
    width: 85%;
    height: 100%;
}

.title h1{
    font-size: 3.5rem;
}

.title2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    
}

.title2 h1{
    font-size: 2rem;
}

.t-btn{
    color: white;
    margin: 0;
}

/*estilos para las imagenes*/
.info{
    width: 55%;
    height: 100%; 
}

.images{
    display: flex;
    gap: 3px;
    border-radius: 10px;
}

.left{
    width: 50%;
    height: 100%;
}

.right{
    width: 50%;
    height: 100%;
}

.img{
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.img1{
    background-image: url('/PROYECTO-ECO-TURISMO/img/alto-balboa-1.jpg');
    height: 20.5em;
    border-radius: 20px 0 0 20px;
    
}

.img2{
    background-image: url('/PROYECTO-ECO-TURISMO/img/alto-balboa-2.jpg');
    height: 10.25em;
    border-radius: 0 20px 0 0;
}

.img3{
    background-image: url('/PROYECTO-ECO-TURISMO/img/3-img-alto-balboa.jpg');
    height: 10.05em;
    margin-top: 3px;
    border-radius: 0 0 20px 0;
}

/*stilos para el texto abajo de las imagenes*/
.t-info{
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
}

/*estilos para el mapa y el botoón de abajo*/
.map{
    width: 40%;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame-map{
    width: 100%;
    height: 80%;
}

.buttons{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25%;
    margin: 50px 0 100px 0;
}


/*estilos para el video*/
.video{
    width: 50%;
    
}
/*Terminan los estilos de las secciones y toda la vuelta*/
/*FOOTER*/
.pie-pagina{/*Contenedor del footer*/
    width: 100%;
    background-color: #403f3f;
}
.pie-pagina .parte-1{/*Primera parte de el footer*/
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 45px 0px;
}
.pie-pagina .parte-1 .caja figure{/*Estilos a las cajas de el footer*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{/*Estilos al logo de la pagina en el footer*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 3px black;
    position: relative;
    bottom: 18px;
}
.pie-pagina .parte-1 .caja h2{/*Estilos a los h2 de las cajas*/
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    color: #ADC178;
    position: relative;
    bottom: 20px;
}
.pie-pagina .parte-1 .caja p{/*Estilos a los parrafos del footer*/
    color: white;
    margin-bottom: 10px;
    position: relative;
    bottom: 40px;
    width: 90%;
}
.pie-pagina .parte-1 .imagenes-footer a{/*Estilos a los iconos de las redes sociales*/
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #383838;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 30px; 
}
.pie-pagina .parte-1 .imagenes-footer {/*Border-radius al contenedor de los iconos*/
    border-radius: 10px;
}
.pie-pagina .parte-1 .imagenes-footer a:hover{
    color: rgb(204, 201, 201);
}
.logos{/*Tamaño de cada icono*/
    width: 30px;
    height: 30px;
    margin-top: 7px;
}
.pie-pagina .parte-2{/*Estilos a la segunda parte de el footer*/
    background-color: #383838;
    text-align: center;
    color: white;
    font-size: 15px;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    z-index: 99999;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*RESPONSIVE DEL FOOTER*/
@media screen and (max-width: 800px) {
    .pie-pagina .parte-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .parte-1 .imagenes-footer a{
        margin-bottom: 50px;
    }
}
