html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: arial;
    height: auto;
}
/*HEADER*/
header{
    width: 100%;
    height: 85px;
    position: fixed;
    z-index: 9999;
}
/* menu hamburguesa*/
.nav-links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20%;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 0px;
}
@media (max-width: 1500px){
    .nav-links{
        gap: 15%;
        position: relative;
        right: 0px;
    }
}
.nav-links input{
    height: 20px;/*Tamaño de el input tipo texto*/

}
.burger{
    display: none;/*Para que no se muestre en pantalla normal*/
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 4px 0;
    border-radius: 1px;
}
.avatarResponsive{
    display: none;
}
/*Responsive del menu hamburguesa*/
@media (max-width: 1280px){
    .avatarResponsive{
        display: block;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
    .avatar{
        display: none;
    }
    header{
        height: 65px;
    }
    .navbar{
        position: relative;
        background-color: rgba(0, 0 , 0 , 0.6);
        height: 65px;
    
    }
    .burger{
        display: flex;
        position: absolute;
        right: 20px;

    }
    .nav-links{
        background-color: rgba(0, 0 , 0 , 0.6);
        display: none;
        flex-direction: column;
        position: absolute;
        width: 30%;
        height: 1250px;
        top: 64px;
        right: 0;
        margin: 0;
        gap: 50px;
        align-items: center;
    }
    .nav-links.active{
        padding-left: 0;
        display: flex;
    }
    nav .logo{
        width: 45px;
        height: 45px;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .nav-links input{
        position: relative;
        top: 100px;
    }
    .avatar{
        position: absolute;
        right: 60px;
        top: 28px;
        }
    .nav-links li{
        width: 100%;
        height: 50px;
        position: relative;
        bottom: 440px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }
    .nav-links li:hover{
        background-color: rgba(0, 0 , 0 , 0.4);
        color: #9daf6d;
    } 
    .baja{
        height: 65px;
    }
    .li-avatar{
        display: block;
    }
    .redireccionPerfil{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        cursor: pointer;
    }
    .ubiAvatar{
        margin-right: 10px;
    }
    .datosUsuario h3{
        position: relative;
        top: 5px;
        color: white;
        font-size: 20px;
    }
    .datosUsuario p{
        position: relative;
        bottom: 15px;
        font-size: 12px;
        color: #d6d6d6;
    }
    .buscador{
        width: 170px;
        position: absolute;
        right: 100px;
    }
}
@media (max-width:985px){
    .ubiAvatar{
        margin-right: 5px;
    }
    .datosUsuario h3{
        font-size: 12px;
    }
    .datosUsuario p{
        font-size: 10px;
        position: relative;
        bottom: 10px;
    }
}
@media (max-width:630px){
    .ubiAvatar img{
        width: 30px;
        height: 30px;
    }
    .datosUsuario h3{
        font-size: 10px;
    }
    .datosUsuario p{
        position: relative;
        bottom: 5px;
        font-size: 8px;
    }
    .nav-links{
        font-size: 15px;
    }
    
}
@media (max-width:600px){
    .nav-links{
        width: 45%;
    }
}
.li-avatar{
    display: none;
}
/*Estilos navbar*/
nav{
    width: 100%;
    height: 85px;
    background: linear-gradient(to bottom, rgba(0, 0 , 0 , 0.9), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
nav img{
    border-radius: 50%;
}
nav .img{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px black;
    margin-left: 140px;
}
.logo{
    width: 60px;
    height: 60px;
    box-shadow: 0 0 15px black;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    color: #ADC178;
}
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
}
.buscador img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 180px;    
    cursor: pointer;
}

nav input{
    width: 170px;
    padding: 9px;
    border: none;
    border-radius: 10px;
}
/*Estilos para cuando se haga scroll, el header deja de ser transparente y se pone gris*/
.baja{
    background-color: rgba(0, 0 , 0 , 0.5);
    height: auto;
}
/*Estilos slider*/
.slider-container{/*Contenedor necesario para marcar el limite de el slider y no se sobre salga de la pantalla*/
    width: 100%;
    overflow: hidden;
    margin: auto;
}
.slider{
    width: 400%;
    display: flex;
    animation: slide 25s infinite alternate ease-in-out;/*Animacion del slider*/
}
.sli {
    flex: 1 1 400px;
    max-width: 100%;  
}
.sli img{
    width: 100%;
    height: 820px;
}
/*Keyframes para que se ejecute la animaciòn*/
@keyframes slide{
    0%{transform: translateX(0) }
    20%{transform: translateX(0)}

    25%{transform: translateX(-25%)}
    45%{transform: translateX(-25%)}

    50%{transform: translateX(-50%)}
    70%{transform: translateX(-50%)}

    75%{transform: translateX(-75%)}
    100%{transform: translateX(-75%)}
}
/*Responsive del slider*/
@media (max-width: 1023px) {
    .sli img{
        height: 620px;
    }
}
@media (max-width:600px){
    .sli img{
        height: 400px;
    }
}
@media (max-width:600px){
    .sli img{
        height: 350px;
    }
}
/*SECTION DEL MAIN*/
main{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/*Recuadro encima del slider*/
.recuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;
    left: 30px;
}
.titulo-inicio{
    max-width: 700px;
    background-color: rgba(0, 0 , 0 , 0.6);
    flex: 1 1 300px;
    height: 380px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.titulo-inicio h1{
    font-size: 48px;
    color: #ADC178;
    text-shadow: black 0 0 2px;
    margin-left: 20px;
    font-weight: 800;
}
.titulo-inicio p{
    font-size: 25px;
    color: white;
    text-shadow: black 0 0 4px;
    font-weight: 600;
    margin-left: 20px;
}
.btn-inicio{
    padding: 10px;
    width: 160px;
    border: none;
    background: #ADC178;
    cursor: pointer;
    border:  none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 10px;
}
/*Responsive del recuadro que esta encima del slider*/
@media (max-width: 1023px){
    .titulo-inicio{
        max-width: 420px;
        height: 250px;
        
    }
    .titulo-inicio h1{
        font-size: 28px;
    }
    .titulo-inicio p{
        font-size: 16px;
    }
    .btn-inicio{
        width: 120px;
        padding: 6px;
    }
    .btn-inicio a{
        font-size: 15px;
    }
}
@media (max-width: 600px){
    .titulo-inicio{
        position: relative;
        bottom: 100px;
        max-width: 240px;
        height: 130px;
        right: 10px;
    }
    .titulo-inicio p{
        display: none;
    }
    .titulo-inicio h1{
        font-size: 16px;
        margin-left: 10px;
    }
    .btn-inicio{
        width: 80px;
        position: relative;
        left: 10px;
        top: 20px;
     
    }
}
.btn-inicio a{/*Estilos del boton del inicio*/
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-shadow:  0 0 2px black;
    font-weight: 600;
}
.btn-inicio a:hover{
    background: #9daf6d;
}
button:hover{
    background: #9daf6d;
}
/*SEGUNDA SECTION*/
.container-sitios{
    width: 80%;
    height: 100%;
    text-shadow:  0 10px 30px rgba(0, 0 , 0 , 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sitiosFavoritos{
    text-shadow:  0 5px 10px rgba(0, 0 , 0 , 0.1);
    color: #ADC178;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    margin-inline: 20px;
}
.cartas{
    flex: 1 1 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartas img{
    width: 350px;
    height: 350px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0 , 0 , 0.3);
}
.cartas img:hover {
    transform: translateY(-5px); /*Cuando paso el mouse por encima de l objeto, este sobresale un poco*/
}
.cuadro-links{
    width: 300px;
    height: 150px;
    background-color: #ADC178;
    position: relative;
    right: 10px;
    bottom: 100px;
    cursor: pointer;
    padding: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 10px rgba(0, 0 , 0 , 0.2);
}
.cuadro-links:hover {
    transform: translateY(-5px); /*Se agrega cuando quiero que el elemento sobresalga un poco*/
}
.cuadro-links h1{
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}
.cuadro-links p{
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.cuadro-links a{
    text-decoration: none;
    color: white;
}
/*TERCERA SECTION*/
.info-risaralda{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width:495px){
    .cartas{
        height: 400px;
    }
    .cuadro-links{
        width: 230px;
        height: 100px;
        position: relative;
        bottom: 80px;
    }
    .cuadro-links h1{
        position: relative;
        bottom: 45px;
    }
    .cuadro-links p{
        position: relative;
        bottom: 25px;
    }
    .cartas img{
        width: 280px;
        height: 280px;
    }
    .sitiosFavoritos{
        font-size: 33px;
    }
}
/*Textos sgunda section*/
.textos-info{
    flex: 1 1 500px;
    max-width: 760px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ADC178;
    background-color: rgba(0, 0 , 0 , 0.6);
    position: absolute;
    right: 30px;
    border-radius: 10px;
}
.textos-info h1{
    width: 92%;
    font-size: 42px;
    text-shadow: 0 0 2px black;
    font-weight: 800;
}
.textos-info p{
    width: 90%;
    font-size: 20px;
    color: white;
    font-weight: 600;
    position: relative;
    bottom: 40px;
}
/*Boton tercera section*/
.btn-info{
    width: 310px;
    padding: 10px;
    border: none;
    background-color: #ADC178;
    cursor: pointer;
    border-radius: 10px;
}
.btn-info a{
    text-decoration: none;
    color: white;
    text-shadow:  0 0 2px black;
    font-weight: bold;
    font-size: 15px;

}
.btn-info a:hover{
    background: #9daf6d;
    
}
.btn-info:hover{
    background: #9daf6d;   
}
.slider-container2{/*Contenedor necesario para marcar el limite de el slider y no se sobre salga de la pantalla*/
    width: 100%;
    overflow: hidden;
    margin: auto;
}
.slider2{
    width: 400%;
    display: flex;
    animation: slide 25s infinite alternate ease-in-out;/*Animacion del slider*/
}
.sli2 {
    width: 100%;   
}
.sli2 img{
    width: 100%;
    height: 820px;
    position: relative;
    top: 10px;
}
/*Responsive del slider*/
@media (max-width: 1023px) {
    .sli2 img{
        height: 620px;
    }
    .textos-info{
        width: 450px;
        height: 300px;
    }
    .textos-info p{
        font-size: 16px;
    }
    .textos-info h1{
        font-size: 30px;
        text-align: center;
        position: relative;
        bottom: 10px;
    }
    .btn-info{
        position: relative;
        bottom: 30px;
    }
}
@media (max-width:600px){
    .sli2 img{
        margin-top: 65px;
        height: 400px;
    }
}
@media (max-width:600px){
    .sli2 img{
        height: 350px;
    }
    .textos-info{
        width: 250px;
        height: 150px;
        margin-top: 150px;
        position: absolute;
        right: 10px;
        
    }
    .textos-info p{
        font-size: 16px;
        display: none;
    }
    .textos-info h1{
        font-size: 20px;
        text-align: center;
        position: relative;
        bottom: 10px;
    }
    .btn-info{
        width: 180px;
        position: relative;
        bottom: 0px;
    }
}

/*FOOTER*/
.pie-pagina{/*Contenedor del footer*/
    width: 100%;
    background-color: #403f3f;
}
.pie-pagina .parte-1{/*Primera parte de el footer*/
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 45px 0px;
}
.pie-pagina .parte-1 .caja figure{/*Estilos a las cajas de el footer*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{/*Estilos al logo de la pagina en el footer*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 3px black;
    position: relative;
    bottom: 18px;
}
.pie-pagina .parte-1 .caja h2{/*Estilos a los h2 de las cajas*/
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    color: #ADC178;
    position: relative;
    bottom: 20px;
}
.pie-pagina .parte-1 .caja p{/*Estilos a los parrafos del footer*/
    color: white;
    margin-bottom: 10px;
    position: relative;
    bottom: 40px;
    width: 90%;
}
.pie-pagina .parte-1 .imagenes-footer a{/*Estilos a los iconos de las redes sociales*/
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #383838;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 30px; 
}
.pie-pagina .parte-1 .imagenes-footer {/*Border-radius al contenedor de los iconos*/
    border-radius: 10px;
}
.pie-pagina .parte-1 .imagenes-footer a:hover{
    color: rgb(204, 201, 201);
}
.logos{/*Tamaño de cada icono*/
    width: 30px;
    height: 30px;
    margin-top: 7px;
}
.pie-pagina .parte-2{/*Estilos a la segunda parte de el footer*/
    background-color: #383838;
    text-align: center;
    color: white;
    font-size: 15px;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    z-index: 99999;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*RESPONSIVE DEL FOOTER*/
@media screen and (max-width: 800px) {
    .pie-pagina .parte-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .parte-1 .imagenes-footer a{
        margin-bottom: 50px;
    }
}
