html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}
/*HEADER*/
header{
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 9999;
}
/* menu hamburguesa*/
.nav-links{
    display: flex;
    list-style: none;
    gap: 100px;
    font-size: 20px;
    font-weight: bold;
}
.nav-links input{
    height: 20px;/*Tamaño de el input tipo texto*/

}
.burger{
    display: none;/*Para que no se muestre en pantalla normal*/
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 4px 0;
    border-radius: 1px;
}
/*Responsive del menu hamburguesa*/
@media screen and (max-width: 1280px){
    .navbar{
        position: relative;
        background-color: #403f3f;
    
    }
    .burger{
        display: flex;
        position: absolute;
        right: 20px;

    }
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 50%;
        height: 1000px;
        top: 100%;
        right: 0;
        margin: 0;
        background-color: #403f3f;
        gap: 50px;
        align-items: center;
    }
    .nav-links.active{
        padding-left: 0;
        display: flex;
    }
    .logo{
        position: absolute;
        left: 10px;
        top: 18px;
    }
    .nav-links input{
        position: relative;
        top: 100px;
    }
    .avatar{
        position: absolute;
        right: 60px;
        top: 28px;
        }
    .nav-links li{
        width: 100%;
        height: 50px;
        background-color: #403f3f;
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }
    .nav-links li:hover{
        background-color: #4d4c4c;
        color: #9daf6d;
    } 
}
/*Estilos navbar*/
nav{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0 , 0 , 0.9), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}
nav img{
    border-radius: 50%;
}
nav .img{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px black; 
}
nav img{
    width: 70px;
    height: 70px;
    box-shadow: 0 0 15px black;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    color: #ADC178;
}
nav input{
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
}
/*Estilos para cuando se haga scroll, el header deja de ser transparente y se pone gris*/
.baja{
    background: #403f3f;
    height: 94px;
}
/*Estilos slider*/
.slider-container{/*Contenedor necesario para marcar el limite de el slider y no se sobre salga de la pantalla*/
    width: 100%;
    overflow: hidden;
    margin: auto;
}
.slider{
    width: 400%;
    display: flex;
    animation: slide 25s infinite alternate ease-in-out;/*Animacion del slider*/
}
.sli {
    width: 100%;   
}
.sli img{
    width: 100%;
    height: 920px;
}
h1{
    font-family:"Rowdies";
}
/*Keyframes para que se ejecute la animaciòn*/
@keyframes slide{
    0%{transform: translateX(0) }
    20%{transform: translateX(0)}

    25%{transform: translateX(-25%)}
    45%{transform: translateX(-25%)}

    50%{transform: translateX(-50%)}
    70%{transform: translateX(-50%)}

    75%{transform: translateX(-75%)}
    100%{transform: translateX(-75%)}
}
/*Responsive del slider*/
@media (max-width: 1023px) {
    .slider{
        position: relative;
        top: 100px;
        height: 600px;
        background-color: white;
    }
    .sli{
        position: relative;
        top: 0;
        width: 100%;
        height: 550px;
    }
    .sli img{
        position: relative;
        top: 0;
        width: 100%;
        height: 550px;
    }
}
/*Fuente declarada para los h1,h2*/
h1{
    font-family:"Rowdies";
}
h2{
    font-family:"Rowdies";
}
/*SECTION DEL MAIN*/
main{
   width: 100%;
   height: auto;
}
.recuadro{
    margin-left: 30px;
    display: flex;
    justify-content: left;
    align-items: bottom;
    position: relative;
    bottom: 480px;
}
/*Recuadro encima del slider*/
.titulo-inicio{
    max-width: 700px;
    background-color: rgba(0, 0 , 0 , 0.6);
    flex: 1 1 300px;
    height: 380px;
    flex-wrap: wrap;
}
.titulo-inicio h1{
    font-size: 50px;
    color: #ADC178;
    text-shadow: black 0 0 2px;
    margin-left: 20px;
}
.titulo-inicio p{
    font-size: 25px;
    color: white;
    text-shadow: black 0 0 4px;
    font-weight: bold;
    margin-left: 20px;
}
.btn-inicio{
    padding: 10px;
    width: 160px;
    border: none;
    background: #ADC178;
    cursor: pointer;
    border:  none;
    position: absolute;
    bottom: 0;
}
/*Responsive del recuadro que esta encima del slider*/
@media (max-width: 800px){
    .titulo-inicio{
        max-width: 400px;
        height: 350px;
        margin-left: 10px;
        position: relative;
        top: 70px;
        right: 20px;
    }
    .titulo-inicio h1{
        font-size: 32px;
    }
    .titulo-inicio p{
        font-size: 18px;
    }
}
.btn-inicio a{/*Estilos del boton del inicio*/
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow:  0 0 2px black;
    font-weight: bold;
}
.btn-inicio a:hover{
    background: #9daf6d;
}
button:hover{
    background: #9daf6d;
}
/*SEGUNDA SECTION*/
.container-cartas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    position: relative;
    bottom: 200px;
}
.cartas{
    flex: 1 1 400px;
    max-width: 400px;
    height: 500px;
}
.cartas img{
    width: 400px;
    height: 400px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0 , 0 , 0.3);
}
.cartas img:hover {
    transform: translateY(-5px); /*Se agrega cuando quiero que el elemento sobresalga un poco*/
}
.cuadro-links{
    width: 350px;
    height: 150px;
    background-color: #ADC178;
    position: relative;
    bottom: 100px;
    cursor: pointer;
    padding: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 10px rgba(0, 0 , 0 , 0.2);
}
.cuadro-links:hover {
    transform: translateY(-5px); /*Se agrega cuando quiero que el elemento sobresalga un poco*/
}
.cuadro-links h1{
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}
.cuadro-links p{
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.cuadro-links a{
    text-decoration: none;
    color: white;
}
.flecha{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 170px;
}
.flecha img{
    transition: transform 0.3s ease;
}
.flecha img:hover {
    transform: translateY(-5px);/*Se agrega cuando quiero que el elemento sobresalga un poco*/
}
@media (max-width:450px){
    .cartas{
        max-width: 320px;
    }
    .cartas img{
        width: 320px;
        height: 320px;
    }
    .cuadro-links{
        width: 270px;
    }
    .cuadro-links h1{
        font-size: 35px;
    }
}
/*TERCERA SECTION*/
.info-risaralda{
    width: 100%;
    height: 920px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.info-risaralda img{
    width: 100%;
    height: 920px;
}
/*Textos sgunda section*/
.textos-info{
    flex: 1 1 500px;
    max-width: 760px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ADC178;
    background-color: rgba(0, 0 , 0 , 0.6);
    position: absolute;
    right: 50px;
}
.textos-info h1{
    width: 90%;
    font-size: 42px;
    text-shadow: 0 0 2px black;
}
.textos-info p{
    width: 90%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 40px;
}
/*Boton tercera section*/
.btn-info{
    width: 300px;
    padding: 15px;
    border: none;
    background-color: #ADC178;
    font-size: 20px;
    cursor: pointer;
}
.btn-info a{
    text-decoration: none;
    color: white;
    text-shadow:  0 0 2px black;
    font-weight: bold;
    font-size: 20px;

}
.btn-info a:hover{
    background: #9daf6d;
    
}
.btn-info:hover{
    background: #9daf6d;   
}
.slider-container2{/*Contenedor necesario para marcar el limite de el slider y no se sobre salga de la pantalla*/
    width: 100%;
    overflow: hidden;
    margin: auto;
}
.slider2{
    width: 400%;
    display: flex;
    animation: slide 25s infinite alternate ease-in-out;/*Animacion del slider*/
}
.sli2 {
    width: 100%;   
}
.sli2 img{
    width: 100%;
    height: 920px;
}
@media (max-width:860px){
    .info-risaralda{
        height: 600px;
    }
    .info-risaralda img{
        height: 600px;
    }
    .textos-info{
        max-width: 400px;
    }
    .textos-info h1{
        font-size: 30px;
    }
    .textos-info p{
        font-size: 15px;
    }
    .btn-info{
        width: 200px;
    }
    .btn-info a{
        font-size: 15px;
    }
}
@media (max-width: 490px){
    .textos-info{
        max-width: 300px;
        height: 370px;
    }
    .info-risaralda{
        height: 450px;
    }
    .info-risaralda img{
        height: 450px;
    }
}
@media (max-width:400px){
    .textos-info{
        position: absolute;
        right: 20px;
    }
}
/*FOOTER*/
.pie-pagina{/*Contenedor del footer*/
    width: 100%;
    background-color: #403f3f;
}
.pie-pagina .parte-1{/*Primera parte de el footer*/
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 45px 0px;
}
.pie-pagina .parte-1 .caja figure{/*Estilos a las cajas de el footer*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{/*Estilos al logo de la pagina en el footer*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 3px black;
    position: relative;
    bottom: 18px;
}
.pie-pagina .parte-1 .caja h2{/*Estilos a los h2 de las cajas*/
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    color: #ADC178;
    position: relative;
    bottom: 20px;
}
.pie-pagina .parte-1 .caja p{/*Estilos a los parrafos del footer*/
    color: white;
    margin-bottom: 10px;
    position: relative;
    bottom: 40px;
    width: 90%;
}
.pie-pagina .parte-1 .imagenes-footer a{/*Estilos a los iconos de las redes sociales*/
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #383838;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 30px; 
}
.pie-pagina .parte-1 .imagenes-footer {/*Border-radius al contenedor de los iconos*/
    border-radius: 10px;
}
.pie-pagina .parte-1 .imagenes-footer a:hover{
    color: rgb(204, 201, 201);
}
.logos{/*Tamaño de cada icono*/
    width: 30px;
    height: 30px;
    margin-top: 7px;
}
.pie-pagina .parte-2{/*Estilos a la segunda parte de el footer*/
    background-color: #383838;
    text-align: center;
    color: white;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999;
}
/*RESPONSIVE DEL FOOTER*/
@media screen and (max-width: 800px) {
    .pie-pagina .parte-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .parte-1 .imagenes-footer a{
        margin-bottom: 50px;
    }
}
