body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    overflow-x: hidden;
    scrollbar-width: none;
}
/*HEADER*/
header{
    width: 100vw;
    height: 94px;
    z-index: 99999;
    position: fixed;
    top: 0;
}
/*MENU HAMBURGUESA*/
.nav-links{
    display: flex;
    list-style: none;
    gap: 100px;
    font-size: 20px;
    font-weight: bold;
}
.nav-links input{
    height: 20px;
}
.burger{
    display: none;/*Para que no se muestre en pantalla normal*/
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 4px 0;
    border-radius: 1px;
}
/*RESPONSIVE CON EL MENU HAMBURGESA, SE LE PONE DISPLAY NONE AL MENU Y LUEGO DE LOS 1280PX DISPLAY BLOCK PARA QUE SALGA*/
@media screen and (max-width: 1280px){
    .navbar{
        position: relative;
        background-color: #403f3f;
    }
    .burger{
        display: flex;
        position: absolute;
        right: 20px;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 50%;
        height: 920px;
        top: 100%;
        right: 0;
        margin: 0;
        background-color: #403f3f;
        gap: 50px;
        align-items: center;
    }
    .nav-links.active{
        padding-left: 0;
        display: flex;
    }
    .logo{
        position: absolute;
        left: 10px;
        top: 18px;
    }
    .nav-links input{
        position: relative;
        top: 100px;
    }
    .avatar{
        position: absolute;
        right: 60px;
        top: 28px;
        }
    .nav-links li{
        width: 100%;
        height: 50px;
        background-color: #403f3f;
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }
    .nav-links li:hover{
        background-color: #4d4c4c;
        color: #9daf6d;
    }
}
/*ESTILOS DE EL HEADER*/
nav{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0 , 0 , 0.9), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    z-index: 9999;
}
nav img{
    border-radius: 50%;
}
nav .img{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px black; 
}
nav img{
    width: 70px;
    height: 70px;
    box-shadow: 0 0 15px black;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    color: #ADC178;
}
nav input{
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
}
/*Estilos para cuando se haga scroll, el header deja de ser transparente y se pone gris*/
.baja{
    background: #403f3f;
    background: #403f3f linear-gradient(none);
    height: 90px;
}
/*ESTILOS SLIDER*/
.slider-container{/*Contenedor necesario para marcar el limite de el slider y no se sobre salga de la pantalla*/
    width: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
}
.slider{
    width: 400%;
    display: flex;
    animation: slide 25s infinite alternate ease-in-out;/*ANIMACION DEL SLIDER*/
}
.sli {
    width: 100%;
    position: relative;   
}
.sli img{/*TAMAÑO DE LAS IMAGENES DE EL SLIDER*/
    width: 100%;
    height: 920px;
}
/*KEYFRAMES PARA EJECUTAR LA ANIMACION DE EL SLIDER*/
@keyframes slide{
    0%{transform: translateX(0) }
    20%{transform: translateX(0)}

    25%{transform: translateX(-25%)}
    45%{transform: translateX(-25%)}

    50%{transform: translateX(-50%)}
    70%{transform: translateX(-50%)}

    75%{transform: translateX(-75%)}
    100%{transform: translateX(-75%)}
}
/*RESPONSIVE SLIDER*/
@media screen and (max-width: 820px) {
    .sectiondestino{
        height: 650px;
    }
    .sli{
        height: 650px;
    }
    .sli img{
        height: 650px;
    } 
}
/*FUENTE PARA TODOS LOS H1, H2*/
h1{
    font-family:"Rowdies";
}
/*INICIA EL MAIN*/
.titulo-inicio{/*PRIMER SECTION*/
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
/*VENTANA EMERGENTE PRIMER SECTION*/
.ventana{/*CONTENEDOR DE LA VENTANA EMERGENTE*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    border-radius: 20px;
}
.modal--show{/*CAMBIA CON JS, EN EL CONTENEDOR PRINCIPAL LA VENTANA TIENE OPACITY 0, EN JS PONEMOS UN EVENTO CLICK PARA QUE CUANDO ALGUIEN LE DE CLICK A CIERTO BOTON LA OPACIDAD DE ESTA PASE DE 0 A 1 Y APAREZCA LA VENTANA EMERGENTE*/
    opacity: 1;
    pointer-events: unset;
}
.ventana-emergente{/*VENTANA EMERGENTE*/
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 200px;
    box-shadow: 0 0 100vmax rgba(0, 0 , 0 , 0.9), 0 0 100vmax rgba(0, 0 , 0 , 0.9);
    z-index: 99999; 
}
.ventana-emergente img{/*ESTILOS AL LOGO DE LA VENTANA EMERGENTE*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 2px;
    position: relative;
    bottom: -20px;
 
 }
 .title-ventana{/*TITULO DE LA VENTANA EMERGENTE*/
    font-size: 30px;
    color: #ADC178;
    border: none;
    text-shadow: 0 0 2px black;
    position: relative;
    bottom: 5px;
 }
 .parrafo-ventana{/*PARRAFO DE LA VENTANA EMERGENTE*/
    width: 300px;
    text-align: center;
    position: relative;
    bottom: 40px;
 }
 .buttons{/*CONTENEDOR DE LOS BOTONES DE LA VENTANA EMERGENTE*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    bottom: 30px;
 }
 .registro{/*BOTON DE REGISTRO*/
    background-color: #ADC178;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px black;
 }
 .registro a{
    text-decoration: none;
    color: white;
 }
 .continuar{/*BOTON DE CONTINUAR COMO INVITADO*/
    background-color: #403f3f;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px black;
 }
 .continuar a{
    text-decoration: none;
    color: white;
 }
 
 .continuar a:hover{
    background-color: #4d4c4c;
 }
 .continuar:hover{
    background-color: #4d4c4c;
 }
 .volver{/*TEXTO PARA VOLVER A LA SECTION ANTEIOR*/
     position: relative;
     bottom: 20px;
 }
 .volver a{
     text-decoration: none;
     color: gray;
 }
 .volver a:hover{
     color: rgb(119, 119, 119);
 }
 /*RESPONSIVE DE LA VENTANA EMERGENTE*/
@media screen and (max-width:820px) {
    .ventana-emergente{
        width: 300px;
        height: 350px;
        position: absolute;
        top: 200px;
    }
    .parrafo-ventana{
        width: 300px;
    }
}
/*SEGUIMOS CON LOS ESTILOS DE LA PRIMER SECTION*/
.titulo-inicio{
    width: 52%;
    height: 53%;
    position: absolute;
    left: 100px;
    top: 150px;
    background-color: rgba(0, 0 , 0 , 0.5);
    padding: 40px;
    border-radius: 20px;
    z-index: 2;
}
.titulo-inicio h1{
    font-size: 60px;
    color:  #ADC178;
    text-shadow: black 0 0 5px;
    position: relative;
    bottom: 40px;
}
.titulo-inicio .lugar{/*ESTILOS AL PARRAFO DE LA PRIMERA SECTION*/
    font-size: 25px;
    color: white;
    text-shadow: black 0 0 4px;
    font-weight: bold;
    position: relative;
    bottom: 60px;
}
#btn-destinos{
    padding: 15px;
    width: 220px;
    border-radius: 30px;
    border: none;
    background: #ADC178;
    cursor: pointer;
    box-shadow: black 0 0 15px;
    border:  none;
    position: relative;
    bottom: 60px;
    color: white;
}
#btn-destinos {
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-shadow:  0 0 2px black;

}
#btn-destinos:hover{
    background: #9daf6d;

}
button:hover{
    background: #9daf6d;
}
/*RESPONSIVE DE LA PRIMERA SECTION*/
@media(max-width:1000px){
    .titulo-inicio{
        width: 61%;
        height: 40%;
    }
    .titulo-inicio h1{
        font-size: 30px;
    }
    .titulo-inicio .lugar{
        font-size: 13px;
        position: relative;
        top: -60px;
    }
    #btn-destinos {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -60px;
        left: 0;
    }
}
@media screen and (max-width: 376px){
    .titulo-inicio{
        height: 45%;
    }
}
@media(max-width: 675px){
    .titulo-inicio{
        position: absolute;
        left: 10px;
        top: 120px;
    }
    .btn-destinos{
        width: 100px;
    }
}
/*INICIA LA SEGUNDA SECTION, SECCION DE COMENTARIOS*/
.rating{/*CONTENEDOR PRINCIPAL DE LA SEGUNDA SECCION*/
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionrating{/*SEGUNDO CONTENEDOR*/
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-height: 1000px){/*RESPONSIVE AL PRIMER CONTENDOR*/
    .rating{
        height: 1500px;
    }
}
.sectionrating h1{/*TITULO SEGUNDA SECTION*/
    font-size: 56px;
    color: #ADC178;
    text-shadow: 0 0 2px black;
    position: relative;
    top: -150px;
}
/*RESPONSIVE DEL TITULO*/
@media (max-width: 456px){
    .sectionrating h1{
    font-size: 30px;}
}
.comentarios{/*CONTENDOR DONDE SE UBICA EL INPUT Y EL BOTON SUBMIT DE LOS COMENTARIOS*/
    display: flex;
    flex-direction: column;
    position: relative;
    top: -150px;
}
.input-comentarios{/*INPUT*/
    padding: 10px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}
.btn-comentarios{/*BUTTON SUBMIT*/
    padding: 8px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background: #ADC178;
    box-shadow: 0 0 4px black;
    position: relative;
    top: 30px;
    left: 90px;
    color: white;
    cursor: pointer;
}
.btn-comentarios:hover{
    background-color: #9daf6d;
}
.responsive-personas{/*CONTENEDOR COMPLETO DE LOS COMENTARIOS DE LAS PERSONAS*/
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.persona{/*CONTENEDOR DEL COMENTARIO DE LA PRIMERA PERSONA*/
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    position: relative;
    top: -100px;
}
.persona h2{/*TITULO DE CADA COMENTARIO*/
    font-size: 20px;
    position: relative;
    top: 70px;
    left: 100px;
}
.persona p{/*PARRAFO DE CADA COMENTARIO*/
    width: 200px;
    position: relative;
    left: 55px;
    top: 80px;
}
.avatarcomentarios{/*AVATAR O FOTO DE CADA PERSONA*/
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 160px;
    left: 120px;
}
.rating-img{/*ESTRELLAS PARA VALUAR*/
    width: 120px;
    height: 120px;
    position: relative;
    top: 100px;
    left: 60px;
}
.img-comentarios .rating-p{
    font-weight: bold;
    position: relative;
    top: 10px;
}
/*COMENTARIO DE LA SEGUNDA PERSONA*/
.persona2{
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    position: relative;
    top: -100px;
}
.persona2 h2{
    font-size: 20px;
    position: relative;
    top: 70px;
    left: 100px;
}
.persona2 p{
    width: 200px;
    position: relative;
    left: 55px;
    top: 80px;
}
/*COMENTARIO DE LA TERCERA PERSONA*/
.persona3{
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    position: relative;
    top: -100px;
}
.persona3 h2{
    font-size: 20px;
    position: relative;
    top: 70px;
    left: 100px;
            
}
.persona3 p{
    width: 200px;
    position: relative;
    left: 55px;
    top: 80px;
}
/*FOOTER*/
.pie-pagina{/*CONTENEDOR PRINCIPAL DE EL FOOTER*/
    width: 100%;
    background-color: #403f3f;
    overflow: hidden;
}
.pie-pagina .parte-1{/*PRIMERA PARTE DE EL FOOTER*/
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 45px 0px;
    position: relative;
    bottom: 0;
    
}
.pie-pagina .parte-1 .caja figure{/*ESTILOS A LAS 3 CAJAS DE LA PRIMER PARTE*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{/*ESTILOS AL LOGO DE LA PAGINA*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 3px black;
    position: relative;
    bottom: 18px;
}
.pie-pagina .parte-1 .caja h2{/*ESTILOS A LOS TITULOS DE LA PAGINA*/
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    color: #ADC178;
    position: relative;
    bottom: 20px;
}
.pie-pagina .parte-1 .caja p{/*ESTILOS A LOS PARRAFOS DE LA PAGINA*/
    color: white;
    margin-bottom: 10px;
    position: relative;
    bottom: 40px;
    width: 90%;
}
.pie-pagina .parte-1 .imagenes-footer a{/*ESTILOS A LOS ICONOS DE LAS REDES SOCIALES*/
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #383838;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
}
.pie-pagina .parte-1 .imagenes-footer {/*BORDER-RADIUS A LOS ICONOS*/
    border-radius: 10px;
}
.pie-pagina .parte-1 .imagenes-footer a:hover{
    color: rgb(204, 201, 201);
}
.logos{/*TAMAÑO DE CADA ICONO*/
    width: 30px;
    height: 30px;
    margin-top: 7px;
}
.pie-pagina .parte-2{/*SEGUNDA PARTE DE EL FOOTER*/
    background-color: #383838;
    text-align: center;
    color: white;
    font-size: 15px;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 50px;
    overflow: hidden;
    z-index: 9999999;
}
/*RESPONSIVE DEL FOOTER*/
@media screen and (max-width: 800px) {
    .pie-pagina .parte-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .parte-1 .imagenes-footer a{
        margin-bottom: 50px;
    }
    
}
