body{
    margin: 0;
    font-family: arial;
}

/*HEADER*/
header{
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    z-index: 9999;
}
/* menu hamburguesa*/
.nav-links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20%;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 0px;
}
@media (max-width: 1500px){
    .nav-links{
        gap: 15%;
        position: relative;
        right: 0px;
    }
}
.nav-links input{
    height: 20px;/*Tamaño de el input tipo texto*/

}
.burger{
    display: none;/*Para que no se muestre en pantalla normal*/
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 4px 0;
    border-radius: 1px;
}
.avatarResponsive{
    display: none;
}
/*Responsive del menu hamburguesa*/
@media (max-width: 1280px){
    .avatarResponsive{
        display: block;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
    .avatar{
        display: none;
    }
    header{
        height: 65px;
    }
    .navbar{
        position: relative;
        background-color: rgba(0, 0 , 0 , 0.6);
        height: 65px;
    
    }
    .burger{
        display: flex;
        position: absolute;
        right: 20px;

    }
    .nav-links{
        background-color: rgba(0, 0 , 0 , 0.6);
        display: none;
        flex-direction: column;
        position: absolute;
        width: 30%;
        height: 1250px;
        top: 64px;
        right: 0;
        margin: 0;
        gap: 50px;
        align-items: center;
    }
    .nav-links.active{
        padding-left: 0;
        display: flex;
    }
    nav .logo{
        width: 45px;
        height: 45px;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .nav-links input{
        position: relative;
        top: 100px;
    }
    .avatar{
        position: absolute;
        right: 60px;
        top: 28px;
        }
    .nav-links li{
        width: 100%;
        height: 50px;
        position: relative;
        bottom: 440px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }
    .nav-links li:hover{
        background-color: rgba(0, 0 , 0 , 0.4);
        color: #9daf6d;
    } 
    .baja{
        height: 65px;
    }
    .li-avatar{
        display: block;
    }
    .redireccionPerfil{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        cursor: pointer;
    }
    .ubiAvatar{
        margin-right: 10px;
    }
    .datosUsuario h3{
        position: relative;
        top: 5px;
        color: white;
        font-size: 20px;
    }
    .datosUsuario p{
        position: relative;
        bottom: 15px;
        font-size: 12px;
        color: #d6d6d6;
    }
    .buscador{
        width: 170px;
        position: absolute;
        right: 100px;
    }
}
@media (max-width:985px){
    .ubiAvatar{
        margin-right: 5px;
    }
    .datosUsuario h3{
        font-size: 12px;
    }
    .datosUsuario p{
        font-size: 10px;
        position: relative;
        bottom: 10px;
    }
}
@media (max-width:630px){
    .ubiAvatar img{
        width: 30px;
        height: 30px;
    }
    .datosUsuario h3{
        font-size: 10px;
    }
    .datosUsuario p{
        position: relative;
        bottom: 5px;
        font-size: 8px;
    }
    .nav-links{
        font-size: 15px;
    }
    
}
@media (max-width:600px){
    .nav-links{
        width: 45%;
    }
}
.li-avatar{
    display: none;
}
/*Estilos navbar*/
nav{
    width: 100%;
    height: 85px;
    background: linear-gradient(to bottom, rgba(0, 0 , 0 , 0.9), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
nav img{
    border-radius: 50%;
}
nav .img{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px black;
    margin-left: 140px;
}
.logo{
    width: 60px;
    height: 60px;
    box-shadow: 0 0 15px black;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    color: #ADC178;
}
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
}
.buscador img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 180px;    
    cursor: pointer;
}

nav input{
    width: 170px;
    padding: 9px;
    border: none;
    border-radius: 10px;
}
/*Estilos para cuando se haga scroll, el header deja de ser transparente y se pone gris*/
.baja{
    background-color: rgba(0, 0 , 0 , 0.5);
    height: auto;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title-profile {
    text-align: center;
    font-size: 4em;
    color: #000;
    margin: 30px 0;
    padding-top: 100px;
}

.profile-info-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    justify-content: center;
    gap: 20px;
}

.hero-right img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 600px;
}

.hero-left .group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.hero-left .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.hero-left .description .text {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-left: 0;
}

.max-text {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.btn-edit {
    background-color: #403F3F;
    width: 100%;
    max-width: 200px;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}
.title-favorite{
    margin: 1.5em 0;
    text-align: center;
}
/*estilos para las ids*/
#slider-container2{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}
.slider1{
    display: flex;
    transition: transform .5s ease;
}
.slide{
    min-width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}
.cartas{
    width: 24%;
    height: 500px;
}
.cartas img{
    width: 400px;
    height: 400px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0 , 0 , 0.3);
}
.cartas img:hover {
    transform: translateY(-5px); /*Se agrega cuando quiero que el elemento sobresalga un poco*/
}
.cuadro-links{
    width: 350px;
    height: 150px;
    background-color: #ADC178;
    position: relative;
    bottom: 100px;
    cursor: pointer;
    padding: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 10px rgba(0, 0 , 0 , 0.2);
}
.cuadro-links:hover {
    transform: translateY(-5px); /*Se agrega cuando quiero que el elemento sobresalga un poco*/
}
.cuadro-links h1{
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}
.cuadro-links p{
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.cuadro-links a{
    text-decoration: none;
    color: white;
}
/*estilos para las flechas*/
.arrow{
    position: absolute;
    top:40%;
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: #ADC178;
}

.left{
    left: .5%;
}

.right{
    right: .5%;
}
@media (max-width:450px){
    .cartas{
        max-width: 320px;
    }
    .cartas img{
        width: 320px;
        height: 320px;
    }
    .cuadro-links{
        width: 270px;
        height: 100px;
        position: relative;
        bottom: 80px;
    }
    .cuadro-links h1{
        font-size: 35px;
    }
    .flecha img{
        width: 40px;
        height: 40px;
    }
    .cuadro-links h1{
        font-size: 30px;
        margin-top: 10px;
    }
    .cuadro-links p{
        margin-top: 10px;
        font-size: 1.3rem;
    }
}
@media (max-width: 372px){
    .cartas{
        max-width: 280px;
    }
    .cartas img{
        width: 280px;
        height: 280px;
    }
    .cuadro-links{
        width: 230px;
        height: 100px;
        position: relative;
        bottom: 80px;
    }
    .cuadro-links h1{
        font-size: 30px;
        margin-top: 10px;
    }
    .cuadro-links p{
        margin-top: 10px;
        
    }
}

@media screen and (max-width: 480px) {
    .header .search {
        max-width: 100%;
    }

    .hero-right img {
        max-width: 200px;
    }

    .swiper-slide .hero-bottom a {
        font-size: 1.2em;
    }

    .btn-edit {
        max-width: 100%;
    }
}


.pie-pagina{/*Contenedor del footer*/
    width: 100%;
    background-color: #403f3f;
}
.pie-pagina .parte-1{/*Primera parte de el footer*/
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 45px 0px;
}
.pie-pagina .parte-1 .caja figure{/*Estilos a las cajas de el footer*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{/*Estilos al logo de la pagina en el footer*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 3px black;
    position: relative;
    bottom: 18px;
}
.pie-pagina .parte-1 .caja h2{/*Estilos a los h2 de las cajas*/
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    color: #ADC178;
    position: relative;
    bottom: 20px;
}
.pie-pagina .parte-1 .caja p{/*Estilos a los parrafos del footer*/
    color: white;
    margin-bottom: 10px;
    position: relative;
    bottom: 40px;
    width: 90%;
}
.pie-pagina .parte-1 .imagenes-footer a{/*Estilos a los iconos de las redes sociales*/
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #383838;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 30px; 
}
.pie-pagina .parte-1 .imagenes-footer {/*Border-radius al contenedor de los iconos*/
    border-radius: 10px;
}
.pie-pagina .parte-1 .imagenes-footer a:hover{
    color: rgb(204, 201, 201);
}
.logos{/*Tamaño de cada icono*/
    width: 30px;
    height: 30px;
    margin-top: 7px;
}
.pie-pagina .parte-2{/*Estilos a la segunda parte de el footer*/
    background-color: #383838;
    text-align: center;
    color: white;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    padding: 12px;
    p{
        color: white;
    }
}
