body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    overflow-x: hidden;
    scrollbar-width: none;
}
/*HEADER*/
header{
    width: 100vw;
    height: 94px;
    z-index: 99999;
    position: fixed;
    top: 0;
}
/*MENU HAMBURGUESA*/
.nav-links{
    display: flex;
    list-style: none;
    gap: 100px;
    font-size: 20px;
    font-weight: bold;
}
.nav-links input{
    height: 20px;
}
.burger{
    display: none;/*Para que no se muestre en pantalla normal*/
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 4px 0;
    border-radius: 1px;
}
/*RESPONSIVE CON EL MENU HAMBURGESA, SE LE PONE DISPLAY NONE AL MENU Y LUEGO DE LOS 1280PX DISPLAY BLOCK PARA QUE SALGA*/
@media screen and (max-width: 1280px){
    .navbar{
        position: relative;
        background-color: #403f3f;
    }
    .burger{
        display: flex;
        position: absolute;
        right: 20px;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 50%;
        height: 920px;
        top: 100%;
        right: 0;
        margin: 0;
        background-color: #403f3f;
        gap: 50px;
        align-items: center;
    }
    .nav-links.active{
        padding-left: 0;
        display: flex;
    }
    .logo{
        position: absolute;
        left: 10px;
        top: 18px;
    }
    .nav-links input{
        position: relative;
        top: 100px;
    }
    .avatar{
        position: absolute;
        right: 60px;
        top: 28px;
        }
    .nav-links li{
        width: 100%;
        height: 50px;
        background-color: #403f3f;
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }
    .nav-links li:hover{
        background-color: #4d4c4c;
        color: #9daf6d;
    }
}
/*ESTILOS DE EL HEADER*/
nav{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0 , 0 , 0.9), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    z-index: 9999;
}
nav img{
    border-radius: 50%;
}
nav .img{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 15px black; 
}
nav img{
    width: 70px;
    height: 70px;
    box-shadow: 0 0 15px black;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    color: #ADC178;
}
nav input{
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
}
/*Estilos para cuando se haga scroll, el header deja de ser transparente y se pone gris*/
.baja{
    background: #403f3f;
    background: #403f3f linear-gradient(none);
    height: 90px;
}
/*ESTILOS SLIDER*/
.slider-container{/*Contenedor necesario para marcar el limite de el slider y no se sobre salga de la pantalla*/
    width: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
}
.slider{
    width: 400%;
    display: flex;
    animation: slide 25s infinite alternate ease-in-out;/*ANIMACION DEL SLIDER*/
}
.sli {
    width: 100%;
    position: relative;   
}
.sli img{/*TAMAÑO DE LAS IMAGENES DE EL SLIDER*/
    width: 100%;
    height: 920px;
}
/*KEYFRAMES PARA EJECUTAR LA ANIMACION DE EL SLIDER*/
@keyframes slide{
    0%{transform: translateX(0) }
    20%{transform: translateX(0)}

    25%{transform: translateX(-25%)}
    45%{transform: translateX(-25%)}

    50%{transform: translateX(-50%)}
    70%{transform: translateX(-50%)}

    75%{transform: translateX(-75%)}
    100%{transform: translateX(-75%)}
}
/*RESPONSIVE SLIDER*/
@media screen and (max-width: 820px) {
    .sectiondestino{
        height: 650px;
    }
    .sli{
        height: 650px;
    }
    .sli img{
        height: 650px;
    } 
}
/*FUENTE PARA TODOS LOS H1, H2*/
h1{
    font-family:"Rowdies";
}
h2{
    font-family:"Rowdies";
}
/*INICIA EL MAIN*/
.titulo-inicio{/*PRIMER SECTION*/
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
/*VENTANA EMERGENTE PRIMER SECTION*/
.ventana{/*CONTENEDOR DE LA VENTANA EMERGENTE*/
    width: 100%;
    height:920px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0 , 0 , 0.8);
    overflow: hidden;
}
.modal--show{/*CAMBIA CON JS, EN EL CONTENEDOR PRINCIPAL LA VENTANA TIENE OPACITY 0, EN JS PONEMOS UN EVENTO CLICK PARA QUE CUANDO ALGUIEN LE DE CLICK A CIERTO BOTON LA OPACIDAD DE ESTA PASE DE 0 A 1 Y APAREZCA LA VENTANA EMERGENTE*/
    opacity: 1;
    pointer-events: unset;
}
.ventana-emergente{/*VENTANA EMERGENTE*/
    width: 430px;
    height: 430px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 200px;
    box-shadow: 0 0 100vmax rgba(0, 0 , 0 , 0.9), 0 0 100vmax rgba(0, 0 , 0 , 0.9);
    z-index: 99999; 
}
.ventana-emergente img{/*ESTILOS AL LOGO DE LA VENTANA EMERGENTE*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 2px;
    position: relative;
    bottom: 20px;
 
 }
 .title-ventana{/*TITULO DE LA VENTANA EMERGENTE*/
    font-size: 30px;
    color: #ADC178;
    border: none;
    text-shadow: 0 0 2px black;
    position: relative;
    bottom: 25px;
 }
 .parrafo-ventana{/*PARRAFO DE LA VENTANA EMERGENTE*/
    width: 405px;
    text-align: center;
    position: relative;
    bottom: 40px;
 }
 .buttons{/*CONTENEDOR DE LOS BOTONES DE LA VENTANA EMERGENTE*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    bottom: 30px;
 }
 .registro{/*BOTON DE REGISTRO*/
    background-color: #ADC178;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px black;
 }
 .registro a{
    text-decoration: none;
    color: white;
 }
 .continuar{/*BOTON DE CONTINUAR COMO INVITADO*/
    background-color: #403f3f;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px black;
 }
 .continuar a{
    text-decoration: none;
    color: white;
 }
 
 .continuar a:hover{
    background-color: #4d4c4c;
 }
 .continuar:hover{
    background-color: #4d4c4c;
 }
 .volver{/*TEXTO PARA VOLVER A LA SECTION ANTEIOR*/
     position: relative;
     bottom: 0;
 }
 .volver a{
     text-decoration: none;
     color: gray;
 }
 .volver a:hover{
     color: rgb(119, 119, 119);
 }
 /*RESPONSIVE DE LA VENTANA EMERGENTE*/
@media screen and (max-width:820px) {
    .ventana-emergente{
        width: 300px;
        height: 350px;
        position: absolute;
        top: 200px;
    }
    .ventana-emergente img{
        position: relative;
        bottom: -20px;
    }
    .title-ventana{
        position: relative;
        bottom: 5px;
    }
    .parrafo-ventana{
        width: 300px;
    }
    .volver{
        position: relative;
        bottom: 20px;
    }
}
/*SEGUIMOS CON LOS ESTILOS DE LA PRIMER SECTION*/
main{
    width: 100%;
    height: auto;
 }
.recuadro{
    margin-left: 30px;
    display: flex;
    justify-content: left;
    align-items: bottom;
    position: absolute;
    top: 350px;
}
.titulo-inicio{
    max-width: 700px;
    background-color: rgba(0, 0 , 0 , 0.6);
    flex: 1 1 300px;
    height: 480px;
    flex-wrap: wrap;
}
.titulo-inicio h1{
    font-size: 50px;
    color: #ADC178;
    text-shadow: black 0 0 2px;
    margin-left: 20px;
}
.titulo-inicio p{
    width: 90%;
    font-size: 25px;
    color: white;
    text-shadow: black 0 0 4px;
    font-weight: bold;
    margin-left: 20px;
}
.btn-destinos{
    padding: 10px;
    width: 220px;
    border: none;
    background: #ADC178;
    cursor: pointer;
    border:  none;
    position: absolute;
    bottom: 0;
}
/*Responsive del recuadro que esta encima del slider*/
@media (max-width: 820px){
    .recuadro{
    position: absolute;
    top: 200px;
    }
    .titulo-inicio{
        max-width: 400px;
        height: 400px;
        margin-left: 10px;
    }
    .titulo-inicio h1{
        font-size: 30px;
    }
    .titulo-inicio p{
        font-size: 15px;
    }
}
@media (max-width:480px){
    .recuadro{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .titulo-inicio{
        max-width: 300px;
        height: 420px;
    }
}
.btn-destinos a{/*Estilos del boton del inicio*/
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow:  0 0 2px black;
    font-weight: bold;
}
.btn-destinos a:hover{
    background: #9daf6d;
}
button:hover{
    background: #9daf6d;
}
/*segunda section*/
.comentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.comentarios-parte1{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comentarios-parte1 h1{
    font-size: 2rem;
    font-weight: 500;
    background-color: #ADC178;
    color: #ffffff;
    padding: 10px 20px;
}
.comentarios-parte1 span{
    font-size: 1.8rem;
    color: #ADC178;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.comentarios-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.comentarios-container1{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0 , 0 , 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.img-cliente{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.img-cliente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.perfil-persona{
    display: flex;
    align-items: center;
}
.username{
    display: flex;
    flex-direction: column;
}
.username strong{
    color: black;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.username span{
    color: #979797;
    font-size: 0.8rem;
}
.calificacion{
    color:#f9d71c ;
}
.container-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.parrafo p{
    font-size: 0.9rem;
    color: #4b4b4b;

}
.comentarios-container1:hover{
    transform: translateY(-5px);
    transition: all ease 0.3s;
}
.comentarios-parte2{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comentarios-parte2 H2{
    font-size: 2rem;
    font-weight: 500;
    background-color: #ADC178;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}
.comentarios-parte2 input{
    width: 200px;
    padding: 10px;
}
.comentar{
    margin-top: 20px;
}
.comentar button{
    font-weight: 500;
    background-color: #ADC178;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border: 1px solid #979797;
    cursor: pointer;
    
}
.comentar a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
.comentar button:hover{
    background-color: #9daf6d;
}
.comentar a:hover{
    background-color: #9daf6d;
}
@media(max-width:1141px){
    .comentarios-container1{
        width: 45%;
        padding: 10px;
    }

}
@media(max-width:999px){
    .comentarios-container1{
        width: 100%;
    }
    .comentarios-container h1{
        font-size: 1.4rem;

    }
}
@media (max-width:370px){
    .comentarios-parte2 input{
        width: 150px;
    }
}
@media (max-width:320px){
    .container-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .calificacion{
        margin-top: 10px;
    }
}
/*FOOTER*/
.pie-pagina{/*Contenedor del footer*/
    width: 100%;
    background-color: #403f3f;
}
.pie-pagina .parte-1{/*Primera parte de el footer*/
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 45px 0px;
}
.pie-pagina .parte-1 .caja figure{/*Estilos a las cajas de el footer*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{/*Estilos al logo de la pagina en el footer*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 3px black;
    position: relative;
    bottom: 18px;
}
.pie-pagina .parte-1 .caja h2{/*Estilos a los h2 de las cajas*/
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    color: #ADC178;
    position: relative;
    bottom: 20px;
}
.pie-pagina .parte-1 .caja p{/*Estilos a los parrafos del footer*/
    color: white;
    margin-bottom: 10px;
    position: relative;
    bottom: 40px;
    width: 90%;
}
.pie-pagina .parte-1 .imagenes-footer a{/*Estilos a los iconos de las redes sociales*/
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #383838;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 30px; 
}
.pie-pagina .parte-1 .imagenes-footer {/*Border-radius al contenedor de los iconos*/
    border-radius: 10px;
}
.pie-pagina .parte-1 .imagenes-footer a:hover{
    color: rgb(204, 201, 201);
}
.logos{/*Tamaño de cada icono*/
    width: 30px;
    height: 30px;
    margin-top: 7px;
}
.pie-pagina .parte-2{/*Estilos a la segunda parte de el footer*/
    background-color: #383838;
    text-align: center;
    color: white;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999;
}
/*RESPONSIVE DEL FOOTER*/
@media screen and (max-width: 800px) {
    .pie-pagina .parte-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .parte-1 .imagenes-footer a{
        margin-bottom: 50px;
    }
}
